@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.banner {
  /* border-radius: 15px;
  box-shadow: 0 0 2px rgba(72, 72, 72, 0.517); */
  box-shadow: inset 0 0 0 1000px rgba(228, 228, 228, 0.371);
  overflow: hidden;
  margin-top: 8rem;
  margin-bottom: 2rem;

}

.banner img {
  height: 40vh;
  width: 100vw;
  object-fit: cover;
}

.h2 {
  font-weight: bolder;
  color: darkred;
  padding: 0.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}


.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
  background-color: #f8f9fa;
  box-shadow: 1px 1px 20px rgba(72, 72, 72, 0.517);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
  margin: 0 1em;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.nav a:hover {
  text-decoration: none;
  color: #6d64bf;
}

.card-product {
  padding: 0.5rem;
  margin-top: 2rem;
  overflow: hidden;
}

.card-content {
  padding: 1rem;
  border: 1px solid #bfbfbf41;
}

.card-product img {
  width: 100%;
}

.bookdetail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #f8f9fa;
  box-shadow: 0 0 2px rgba(72, 72, 72, 0.517);
}

.bookdetail-img {
  width: 100%;

}

.bookdetail-img img {
  width: 100%;

}

.bookdetail-text {
  padding: 20px;
}

.bookdetail-text span {
  font-weight: bold;
  color: darkred;
}

.warenkorb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-top: 30px;
  background-color: #f8f9fa;
  border-radius: 15px;
  box-shadow: 0 0 2px rgba(72, 72, 72, 0.517);
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #f8f9fa;
  border-radius: 15px;
  box-shadow: 0 0 2px rgba(72, 72, 72, 0.517);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

a {
  font-weight: 500;
  color: rgba(76, 76, 76, 0.863);
  text-decoration: inherit;
  transition: color 0.25s;
  border: 1px solid transparent;
}

a:hover {
  color: #000000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}